FreeAccessLibrarySample1/.vs/FreeAccessLibrarySample1/v14/.suo
FreeAccessLibrarySample1/FreeAccessLibrary/bin/Debug/FreeAccessLibrary.dll
FreeAccessLibrarySample1/FreeAccessLibrary/bin/Debug/FreeAccessLibrary.pdb
FreeAccessLibrarySample1/FreeAccessLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FreeAccessLibrarySample1/FreeAccessLibrary/obj/Debug/FreeAccessLibrary.csproj.FileListAbsolute.txt
FreeAccessLibrarySample1/FreeAccessLibrary/obj/Debug/FreeAccessLibrary.csprojResolveAssemblyReference.cache
FreeAccessLibrarySample1/FreeAccessLibrary/obj/Debug/FreeAccessLibrary.dll
FreeAccessLibrarySample1/FreeAccessLibrary/obj/Debug/FreeAccessLibrary.pdb
FreeAccessLibrarySample1/FreeAccessLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FreeAccessLibrarySample1/FreeAccessLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FreeAccessLibrarySample1/FreeAccessLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FreeAccessLibrarySample1/FreeAccessLibrary_TestCA/bin/Debug/FreeAccessLibrary.dll
FreeAccessLibrarySample1/FreeAccessLibrary_TestCA/bin/Debug/FreeAccessLibrary.pdb
FreeAccessLibrarySample1/FreeAccessLibrary_TestCA/bin/Debug/FreeAccessLibrary_TestCA.exe
FreeAccessLibrarySample1/FreeAccessLibrary_TestCA/bin/Debug/FreeAccessLibrary_TestCA.exe.config
FreeAccessLibrarySample1/FreeAccessLibrary_TestCA/bin/Debug/FreeAccessLibrary_TestCA.pdb
FreeAccessLibrarySample1/FreeAccessLibrary_TestCA/bin/Debug/FreeAccessLibrary_TestCA.vshost.exe
FreeAccessLibrarySample1/FreeAccessLibrary_TestCA/bin/Debug/FreeAccessLibrary_TestCA.vshost.exe.config
FreeAccessLibrarySample1/FreeAccessLibrary_TestCA/bin/Debug/FreeAccessLibrary_TestCA.vshost.exe.manifest
FreeAccessLibrarySample1/FreeAccessLibrary_TestCA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FreeAccessLibrarySample1/FreeAccessLibrary_TestCA/obj/Debug/FreeAccessLibrary_TestCA.csproj.FileListAbsolute.txt
FreeAccessLibrarySample1/FreeAccessLibrary_TestCA/obj/Debug/FreeAccessLibrary_TestCA.csprojResolveAssemblyReference.cache
FreeAccessLibrarySample1/FreeAccessLibrary_TestCA/obj/Debug/FreeAccessLibrary_TestCA.exe
FreeAccessLibrarySample1/FreeAccessLibrary_TestCA/obj/Debug/FreeAccessLibrary_TestCA.pdb
FreeAccessLibrarySample1/FreeAccessLibrary_TestCA/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FreeAccessLibrarySample1/FreeAccessLibrary_TestCA/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FreeAccessLibrarySample1/FreeAccessLibrary_TestCA/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FreeAccessLibrarySample1/FreeAccessLibrary_TestWFA/bin/Debug/FreeAccessLibrary.dll
FreeAccessLibrarySample1/FreeAccessLibrary_TestWFA/bin/Debug/FreeAccessLibrary.pdb
FreeAccessLibrarySample1/FreeAccessLibrary_TestWFA/bin/Debug/FreeAccessLibrary_TestWFA.exe
FreeAccessLibrarySample1/FreeAccessLibrary_TestWFA/bin/Debug/FreeAccessLibrary_TestWFA.exe.config
FreeAccessLibrarySample1/FreeAccessLibrary_TestWFA/bin/Debug/FreeAccessLibrary_TestWFA.pdb
FreeAccessLibrarySample1/FreeAccessLibrary_TestWFA/bin/Debug/FreeAccessLibrary_TestWFA.vshost.exe
FreeAccessLibrarySample1/FreeAccessLibrary_TestWFA/bin/Debug/FreeAccessLibrary_TestWFA.vshost.exe.config
FreeAccessLibrarySample1/FreeAccessLibrary_TestWFA/obj/Debug/DesignTimeResolveAssemblyReferences.cache
FreeAccessLibrarySample1/FreeAccessLibrary_TestWFA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FreeAccessLibrarySample1/FreeAccessLibrary_TestWFA/obj/Debug/FreeAccessLibrary_TestWFA.Properties.Resources.resources
FreeAccessLibrarySample1/FreeAccessLibrary_TestWFA/obj/Debug/FreeAccessLibrary_TestWFA.csproj.FileListAbsolute.txt
FreeAccessLibrarySample1/FreeAccessLibrary_TestWFA/obj/Debug/FreeAccessLibrary_TestWFA.csproj.GenerateResource.Cache
FreeAccessLibrarySample1/FreeAccessLibrary_TestWFA/obj/Debug/FreeAccessLibrary_TestWFA.csprojResolveAssemblyReference.cache
FreeAccessLibrarySample1/FreeAccessLibrary_TestWFA/obj/Debug/FreeAccessLibrary_TestWFA.exe
FreeAccessLibrarySample1/FreeAccessLibrary_TestWFA/obj/Debug/FreeAccessLibrary_TestWFA.pdb
FreeAccessLibrarySample1/FreeAccessLibrary_TestWFA/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FreeAccessLibrarySample1/FreeAccessLibrary_TestWFA/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FreeAccessLibrarySample1/FreeAccessLibrary_TestWFA/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
